body{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    background: rgb(11,4,135);
    background: linear-gradient(0deg, rgba(11,4,135,1) 0%, rgba(43,205,245,1) 100%);
}

header{
    background-color: #e5e5f7;
    background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #e5e5f7 24px ), repeating-linear-gradient( #c7c7c755, #c7c7c7 );
    background-attachment: fixed;
    font-size: 6px;
    z-index: -1;
}


h1{
    padding-bottom: 10px;
}

main{
  margin: 0px auto;
  width: 70%;
  z-index: 0;
}


/*My Cheat Sheet*/

.relative{
    position: relative;
}

.text-s{
    text-align: start;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

button{
  width: 80%;
}

.parrafos-footer{
  color: white;
}

.parrafos-footer p{
  margin-bottom: 0px !important;
  font-weight: 500;
  padding-bottom: 0px !important;
  margin-bottom: 0px !important;
}

.firma{
  font-size: 9px;
}

p{
  font-size: large;
}

#formulario-contacto label{
  font-weight: 500;
}


/****************Wave Animation****************/

/* waves */
.ocean {
    height: 80px; /* change the height of the waves here */
    width: 100%;
    position: absolute;
    bottom: 0;
    overflow-x: hidden;
  }
  
  .wave {
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 800 88.7'%3E%3Cpath d='M800 56.9c-155.5 0-204.9-50-405.5-49.9-200 0-250 49.9-394.5 49.9v31.8h800v-.2-31.6z' fill='%23239edb'/%3E%3C/svg%3E");
    position: absolute;
    width: 200%;
    height: 100%;
    animation: wave 10s -3s linear infinite;
    transform: translate3d(0, 0, 0);
    opacity: 0.9;
  }
  
  .wave:nth-of-type(2) {
    bottom: 0;
    animation: wave 18s linear reverse infinite;
    opacity: 0.5;
  }
  
  .wave:nth-of-type(3) {
    bottom: 0;
    animation: wave 20s -1s linear infinite;
    opacity: 0.5;
  }
  
  @keyframes wave {
      0% {transform: translateX(0);}
      50% {transform: translateX(-25%);}
      100% {transform: translateX(-50%);}
  }

  /***********************Burbujas*/

  
  @keyframes flotar {
    to {
      margin-bottom: 15vh;
    }
  }
  
  .burbujas div {
    border: 1px solid whitesmoke;
    border-radius: 100%;
    position: absolute;
    z-index: -1;
    bottom: -1247px;
    animation: animarburbujas 4s linear infinite;
  }
  
  .burbujas div:nth-child(1) {
    width: 50px;
    height: 45px;
    left: 40px;
    animation-duration: 4s;
  }
  
  .burbujas div:nth-child(2) {
    width: 60px;
    height: 55px;
    left: 25%;
    animation-duration: 8s;
  }
  
  .burbujas div:nth-child(3) {
    width: 30px;
    height: 27px;
    left: 40%;
    animation-duration: 5s;
  }
  
  .burbujas div:nth-child(4) {
    width: 65px;
    height: 60px;
    left: 50%;
    animation-duration: 10s;
  }
  
  .burbujas div:nth-child(5) {
    width: 55px;
    height: 50px;
    left: 65%;
    animation-duration: 6.5s;
  }
  
  .burbujas div:nth-child(6) {
    width: 50px;
    height: 48px;
    left: 75%;
    animation-duration: 9s;
  }
  
  .burbujas div:nth-child(7) {
    width: 35px;
    height: 32px;
    left: 70%;
    animation-duration: 6s;
  }
  
  @keyframes animarburbujas {
    0% {
      width: 0;
      height: 0;
    }
    3% {
      width: 30px;
      height: 27px;
    }
    50% {
      margin-left: 20px;
      opacity: 0.5;
    }
    100% {
      transform: rotate(90deg);
      bottom: 100vh;
      background: rgb(27, 143, 197);
    }
  }

  @media (max-width: 1200px) {
    p{
      text-align: center;
    }
  }

  
  @media (max-width: 700px) {
    .wave {
      background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 800 88.7'%3E%3Cpath d='M800 56.9c-155.5 0-204.9-50-405.5-49.9-200 0-250 49.9-394.5 49.9v31.8h800v-.2-31.6z' fill='%2325a8e1'/%3E%3C/svg%3E");
    }
  }

  @media (max-width: 900px) {
    .wave {
      background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 800 88.7'%3E%3Cpath d='M800 56.9c-155.5 0-204.9-50-405.5-49.9-200 0-250 49.9-394.5 49.9v31.8h800v-.2-31.6z' fill='%2324a5df'/%3E%3C/svg%3E");
    }
  }


  @media (max-width: 550px) {
    header img{
      width: 280px;
    }

    p{
      font-size: small;
    }

    .burbujas div{
      bottom: -1047px;
    }

    main{
      width: 100%;
    }

    .main-content div img{
      width: 70%;
    }

    .wave {
      background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 800 88.7'%3E%3Cpath d='M800 56.9c-155.5 0-204.9-50-405.5-49.9-200 0-250 49.9-394.5 49.9v31.8h800v-.2-31.6z' fill='%2327b3e7'/%3E%3C/svg%3E");
    }

    .parrafos-footer p{
      font-size: 12px;
    }

    .burbujas div:nth-child(1) {
      width: 40px;
      height: 38px;
    }
    
    .burbujas div:nth-child(2) {
      width: 35px;
      height: 33px;
    }
    
    .burbujas div:nth-child(3) {
      width: 20px;
      height: 19px;
    }
    
    .burbujas div:nth-child(4) {
      width: 35px;
      height: 30px;
    }
    
    .burbujas div:nth-child(5) {
      width: 25px;
      height: 23px;
    }
    
    .burbujas div:nth-child(6) {
      width: 40px;
      height: 38px;
    }
    
    .burbujas div:nth-child(7) {
      width: 25px;
      height: 22px;
    }
  }